{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>owner Dashboard</title>
    <link rel="stylesheet" href="{% static '/css/homepage.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>

            <li><a href="{% url 'owner_singup' %}">owner_singup</a></li>
            <li><a href="{% url 'owner_login' %}">owner_login</a></li>
        </ul>
    </nav>
    {% load static %}

<!-- Example usage -->
    <img src="{% static '/images/images1.png' %}" alt="Static Example" width="100">

</body>
</html>
<!-- this will be the skelton of how the ecomerce platform will look like -->