<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
   <div class="form-container">
         <h2>Owner Login</h2>
         <form action="{% url 'owner_login' %}" method="post"></form>
              {% csrf_token %}
              <div class="form-group">
                <label for="id_username">username</label>
                <div class="input-container">
                    <i class="fas fa-user">
                    <input type="text" name="username" id="id_username" placeholder="Enter you username" required>
                    </i>
                </div>
              </div>
              <div class="form-group">
                <label for="id_password1">Password</label>
                <div class="input-container">
                    <i class="fas fa-lock">
                    <input type="password" name="password" id="id_password1" placeholder="Enter you password" required>
                    </i>
                </div>
              </div>
              <button type="submit">Login</button>
              <input type="button" value="submit">
        </form>

   </div>
   
    <a href="{% url 'owner_singup' %}">If you have no account signup</a>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>