<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Existing Images</h3>
        <div class="d-flex gap-2">
            {% for image in images %}
                <div>
                    <img src="{{ image.image.url }}" alt="the previosu image" width="80" class="img-thumbnail">
                    <p>{{ image.image.name }}</p>
                </div>
            {% endfor %}
        </div>

        <h2>Upload new images</h2>
        <input type="file" name="images" multiple >
        <button type="submit" class="btn btn-primary">Update Product</button>
        <a href="{% url 'all_products' %}" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>