{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Volkswagen</title>
    
</head>

</html>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My Volkswagen</h1>
                <p>My Volkswagen is your personal online customer area. It's where you can access all the services and information you need to keep your Volkswagen up and running.</p>
            </div>
        </div>
    </div>
{% endblock %}